{% extends 'base.html' %}

{% block title %} Editar Igreja {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a class="loadme" href="{% url 'igrejas' %}">Igrejas</a></li>
<li class="breadcrumb-item active"> {{igreja.nome}} </b></li>

{% endblock %}

{% block content %}
  <form autocomplete="off" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark">Salvar</button>
  </form>
{% endblock %}