{% extends 'base.html' %}

{% block title %}Cadastrar nova Pessoa{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a class="loadme" href="{% url 'home' %}">Pessoas</a></li>
  <li class="breadcrumb-item active">Cadastrar Nova Pessoa</li>
{% endblock %}

{% block content %}
{% load widget_tweaks %}

  <form autocomplete="off" method="post"  enctype="multipart/form-data">
  	<button type="submit" class="btn btn-dark ">Cadastrar</button>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark ">Cadastrar</button>
  </form>
{% endblock %}