{% extends 'base.html' %}

{% block title %}Cadastrar nova Ata de Reunião do Conselho {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'atas' %}">Atas de Reuniões do Conselho</a></li>
<li class="breadcrumb-item active">Registrar Nova Ata de Reunião</li>
{% endblock %}

{% block content %}
  <form autocomplete="off" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark ">Cadastrar</button>
  </form>
{% endblock %}