{% extends 'base.html' %}

{% block title %}Cadastrar novo Relatório{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'home' %}">Informações</a></li>
<li class="breadcrumb-item"><a class="loadme" href="{% url 'relatorios' %}">Relatórios</a></li>
<li class="breadcrumb-item active">Novo Relatório</li>
{% endblock %}

{% block content %}
    Os campos de data devem ser informados no formato dd/mm/aaaa.<br/>
  <form autocomplete="off" method="post"  enctype="multipart/form-data">
  	<button type="submit" class="btn btn-dark ">Cadastrar</button>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark ">Cadastrar</button>
  </form>
{% endblock %}