{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'pessoas' %}">Pessoas</a></li>
<li class="breadcrumb-item">
{% if detalhes.categoria %}
    {% if agregador < 8 %}
    <a class="loadme" href="{% url 'pessoas_membros' %}">Membros, Pastores e Admitendos</a></li>
    {% endif %}
    
    {% if agregador == 8 %}
    <a class="loadme" href="{% url 'pessoas_visitantes' %}">Visitantes</a></li>
    {% endif %}
        
    {% if agregador > 8  %}
    <a class="loadme" href="{% url 'pessoas_outros' %}">Recém-cadastrados, ex-membros e outras pessoas</a></li>
    {% endif %}
{% else %}
    <a class="loadme" href="{% url 'pessoas_outros' %}">Recém-cadastrados, ex-membros e outras pessoas</a></li>
{% endif %}
</li>
<li class="breadcrumb-item active">{{ detalhes.nome }}</li>
<li class="breadcrumb-item"><a class="loadme" href="{% url 'simple_edit_pessoa' detalhes.pk %}">editar</a></li>
{% endblock %}

{% block content %}
    {% if detalhes.data_update %}
    <p>Última atualização em {{detalhes.data_update}} por {{detalhes.user_update}} </p>
    {% else %}
    <p>Última atualização: não registrado</p>
    {% endif %}
    <figure class="figure">
    <img class='foto_membro' class="figure-img img-fluid rounded" src="{% if detalhes.foto %}{{detalhes.foto.url}}{% else %}{% static 'img' %}/0.jpg{% endif %}">
    <figcaption>{% if detalhes.apelido %}{{detalhes.apelido}}{% endif %}</figcaption>
    </figure>

        <h3>{{detalhes.nome}}</h3>
        <small>{{detalhes.rol.nome}}</small>
        {% if detalhes.estado_civil %}
        <p> Estado Civil: {{detalhes.estado_civil_texto}} {%if detalhes.estado_civil_complemento %} e {{detalhes.estado_civil_complemento_texto}}{% endif %}
        </p>
        {% endif %}
        {% if detalhes.conjuge %}
        <p> Cônjuge - <a class="loadme" href="{% url 'pessoa' detalhes.conjuge.id %}">{{detalhes.conjuge.nome}}</a> </p>
        {% endif %}
        {% if detalhes.nao_conjuge %}
        <p> {{detalhes.estado_civil_complemento_pessoa}} - <a class="loadme" href="{% url 'pessoa' detalhes.nao_conjuge.id %}">{{detalhes.nao_conjuge.nome}}</a> </p>
        {% endif %}
        {% if detalhes.tem_filhos %}
        <p> Tem filhos: <br/>
        {% for f in filhos %}
        <a class="loadme" href="{% url 'pessoa' f.id %}">{{f.nome}}</a> <br/>
        {% endfor %}
        </p>
        {% else %}
        <p> Não tem filhos. </p>
        {% endif %}
        {% if detalhes.categoria %}
        <p> Categoria - {{detalhes.categoria}}
        <br/>{{problemas}}</p>
        {% endif %}
        {% if detalhes.data_nascimento %}
        <p> Nascimento - {{detalhes.data_nascimento}} ({{idade}} anos)</p>
        {% endif %}
        {% if detalhes.chefe_familia %}
        <p> Casa:
            <ul>
            {% for m in familia %}
            <li> <a class="loadme" href="{% url 'pessoa' m.pk %}">{{m.nome}}</a>
                {% if m.pk == detalhes.chefe_familia.pk %}
                (chefe da casa)
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </p>
        {% endif %}

        {% if detalhes.pai %}
        <p> Pai - <a class="loadme" href="{% url 'pessoa' detalhes.pai_id %}">{{detalhes.pai.nome}}</a> </p>
        {% endif %}
        {% if detalhes.mae %}
        <p> Mãe - <a class="loadme" href="{% url 'pessoa' detalhes.mae_id %}">{{detalhes.mae.nome}}</a> </p>
        {% endif %}
        {% if detalhes.cpf %}
        <p> CPF - {{detalhes.cpf}} </p>
        {% endif %}
    {% if agregador <= 4 %}
    <h3>Grupos e Turmas</h3>

        
            <ul class="list-group">
            <h5>Lidera <a class="loadme" href="{% url 'select_turma_pessoa_tipo' detalhes.id 0 %}"> (+) </a></h5>
            {% if turmas_lider %}
            {% for t in turmas_lider %}
            {% if not t.restrito or perms.rol.add_ata %}
            <li class="list-group-item"><a class="loadme" href="{% url 'turma' t.pk %}"> {{t.titulo}} </a> <a class="loadme" href="{% url 'del_pessoa_turma_tipo' detalhes.id t.id 0 %}"> (remover) </a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            <li class="list-group-item"> Não lidera.</li>
            {% endif %}
            </ul>
        
        
        
            <ul class="list-group">
            <h5>Participa <a class="loadme" href="{% url 'select_turma_pessoa_tipo' detalhes.id 1  %}"> (+) </a></h5>
            {% if turmas_membro %}
            {% for t in turmas_membro %}
            {% if not t.restrito or perms.rol.add_ata %}
            <li class="list-group-item"><a class="loadme" href="{% url 'turma' t.pk %}"> {{t.titulo}} </a> <a class="loadme" href="{% url 'del_pessoa_turma_tipo' detalhes.id t.id 1 %}"> (remover) </a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            <li class="list-group-item"> Não participa.</li>
            {% endif %}
            </ul>
        

    {% endif %}
    {% if contatos %}
    <h3>Contato</h3>

        <ul class="list-group">
        {% for c in contatos %}
        <li class="list-group-item"> {{c.tipo}} - {{c.conteudo}} </li>
        {% endfor %}
        </ul>

    {% endif %}
    {% if dados_ata %}
    <h3>Dados para registro em ata</h3>
    <p>{{dados_ata}}</p>
    {% endif %} 

{% endblock %}