{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'home' %}">Pessoas</a></li>
<li class="breadcrumb-item">{{categorias}}</li>
{% endblock %}


{% block content %}
<div>
    <form>
        <input type="text" class="form-control" id="search-input" placeholder="Buscar..." autocomplete="off">
    </form>
</div>

<table id="table-pessoas" class="table table-bordered table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pessoas %}
      <tr>
        <td class="nome-pessoa"><a class="loadme" href="{% url 'pessoa' p.pk %}">{{ p.nome }}</a> <span style="font-size: 0;" > {{p.nome_ascii}} </span></td>
        <td class="categoria-pessoa">{{ p.categoria }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}