{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'home' %}">Informações</a></li>
{% if tipo != 'todos' %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'relatorios' %}">Relatórios</a></li>
<li class="breadcrumb-item active">{{tipotxt}}</li>
{% else %}
<li class="breadcrumb-item active">Relatórios</li>
{% endif %}
<li class="breadcrumb-item"><a href="{% url 'relatorios' %}{{tipo.lower}}">PDF</a></li>
{% endblock %}


{% block content %}

<h5>{{tipotxt}} ({{quantidade}})<h5> 
<div>
    <form>
        <input type="text" class="form-control" id="search-input" placeholder="Buscar..." autocomplete="off">
    </form>
</div>

<table id="table-pessoas" class="table table-bordered table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Data de Nascimento</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pessoas %}
      <tr>
        <td>{% if p.foto %}<a class="loadme" href="{{p.foto.url}}">{% endif %}<img class='foto_membro_small' class="figure-img img-fluid rounded" src="{% if p.foto %}{{p.foto.url}}{% else %}{% static 'img' %}/0.jpg{% endif %}"'>{% if p.foto %}</a>{% endif %}</td>
        <td>
          {% if perms.rol.add_pessoa %}<a class="loadme" href="{% url 'pessoa' p.pk %}">{% endif %}
          {{p.nome}}
          {% if perms.rol.add_pessoa %}</a>{% endif %}
          <span style="font-size: 0;" > {{p.nome_ascii}} </span></td>
        <td>{{p.idade}}</td>
        <td>{{p.data_nascimento}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}