{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a class="loadme" href="{% url 'home' %}">Informações</a></li>
<li class="breadcrumb-item"><a class="loadme" href="{% url 'relatorios' %}">Relatórios</a></li>
<li class="breadcrumb-item"><a class="loadme" href="{% url 'relatorio_personalizado' relatorio.id%}"><b>{{relatorio.titulo}}</b></a></li>
<li class="breadcrumb-item active">Selecionar Turma para exportar </li>
{% endblock %}
{% block content %}

<div>
    <form>
        <input type="text" class="form-control" id="search-input" placeholder="Buscar..." autocomplete="off">
    </form>
</div>

<table id="table-pessoas" class="table table-bordered table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Turma</th>
      <th>Líderes</th>
      <th>Participantes</th>
      <th>Grupo</th>
    </tr>
  </thead>
  <tbody>
    {% for t in turmas %}
    {% if t.tipo_grupo.nome is not None %}
    {% if not t.restrito or perms.rol.add_ata %}
      <tr>
        <td>
          {% if perms.rol.add_pessoa %}<a class="loadme" href="{% url 'add_relatorio_turma' relatorio.pk t.pk%}">{% endif %}
          {{t.titulo}}
          {% if perms.rol.add_pessoa %}</a>{% endif %}
        </td>
        <td>{{t.lideranca.count}}</td>
        <td>{{t.participantes.count}}</td>
        <td>{{t.tipo_grupo.nome}}</td>
      </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}